<script>
  // If this script runs, it means the user has enabled JS.
  window.location.href = "/";
</script>

<p>If you have already enabled JavaScript, click here:</p>
<a href="/">Return to the main site</a>
