<script>
  // Si este script se ejecuta, significa que el usuario ha activado JS
  window.location.href = "/";
</script>


<p>If you have already enabled JavaScript, click here:</p>
<a href="/">Return to the main site</a>
